body{
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
  text-transform: uppercase;
  background-color: #000000;
  background-image: url("../img/main-background.jpg");
  text-decoration: none;
}

a{
  text-decoration: inherit;
  color: #FFFFFF;
}

.visually-hidden{
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}

.button{
  background-color: #000000;
  color: #FFFFFF;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  border: none;
}

.main-menu__list{
  width: 620px;
  list-style-type: none;
}

.main-menu__login{
  width: 140px;
}

.advantages{
  color: #f7f4f1;
  text-align: center;
  margin-bottom: 80px;
}

.advantages__list{
  list-style-type: none;
}

.advantages__name{
  font-size: 30px;
  line-height: 42px;
}

.page-content{
  color: #000000;
}

.news__list{
  list-style-type: none;
  padding:0;
  margin:0;
}

.news__date{
  text-transform: none;
}

.form-input{
  background-color: inherit;
  border-color: #000101;
  border-width: 2px;
  border-style: solid;
}

.main-footer{
  background-color: #232323;
  background-image: url("../img/footer-background.png");
}

.main-footer__maplink{
  text-decoration: underline;
}

.page-header{
  font-size: 30px;
  line-height: 42px;
}

.about__title{
  font-size: 24px;
  line-height: 30px;
}

.breadcrumbs__link{
  color:inherit;
}

.breadcrumbs__item{
  list-style-type: none;
}

.breadcrumbs__item--current{
  color: #aba9a7;
}

.strong-text{
  font-size: 48px;
  line-height: 48px;
  text-align: center;
}

.about__list{
  list-style-type: none;
}

.price__table{
  border-collapse: collapse;
  border-width: 2px;
  border-style: solid;
  border-color: #000101;
  text-align: left;
}

.price__cost{
  text-align: center;
  border-width: 2px;
  border-style: solid;
  border-color: #000101;
}

.price__service{
  border-width: 2px;
  border-style: solid;
  border-color: #000101;
}

.product-filter__legend{
  font-size: 24px;
  line-height: 30px;
}

.product-filter__list{
  list-style-type: none;
}

.catalog-list{
  list-style-type: none;
}

.catalog__item{
  background-color: #ffffff;
}

.product-price{
  background-color: #e5e5e5;
}

.pagination{
  list-style-type: none;
}

.pagination__button--current{
  color: #000000;
  background-color: #ffffff;
}

.item-gallery__list{
  list-style-type: none;
}

.description__product-id{
  color: #aeaeae;
}

.description__strong{
  font-size: 24px;
  line-height: 30px;
}

.description__list{
  list-style-type: none;
}

.main-menu-wrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.main-navigation-wrapper{
  background-color: #000000;
  width: 100%;
  margin-bottom: 60px;
}

.main-navigation-wrapper-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-menu__logo_index{
  order: 1;
}

.content-wrapper{
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

.advantages__list{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.advantages__item{
   width: 300px;
}

.content-wrapper-columns{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 80px;
  margin-bottom: 36px;
  width:auto;
  background-color: #f8f5f2;
  background-image: url("../img/content-background.png")
}

.news{
  width: 380px;
}

.gallery{
  width: 300px;
}

.contacts{
  width: 380px;
}

.order{
  width: 300px;
}

.section-header{
  font-size: 30px;
  line-height: 42px;
}

.main-footer-wrapper{
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

