.body{
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
  text-transform: uppercase;
  background-color: #000000;
  background-image: url("../img/content-background.png");
  text-decoration: none;
}

.body--index{
  background-image: url("../img/main-background.jpg");
}

a{
  text-decoration: inherit;
  color: #FFFFFF;
}

.visually-hidden{
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 43px;
  width: 140px;
  background-color: #000000;
  font-family: inherit;
  font-weight: inherit;
  text-transform: inherit;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 24px;
  border: none;
  cursor: pointer;
}

.button:hover,
.button:focus,
.button:active{
  background-color: #653d15;
}

.main-menu__list{
  height: 100%;
  width: 640px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding:0;
}

.main-menu__link{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 27px;
  padding-bottom: 27px;
}

.main-menu__link:focus,
.main-menu__link:hover,
.main-menu__link:active{
  background-color: #242424;
}

.main-menu__login{
  width: 140px;
}

.button--login{
  height: 72px;
  width: 107px;
  position: relative;
  padding-left: 53px;
}

.button--login::before{
  content: "";
  position: absolute;
  width: 16px;
  height: 18px;
  top: 29px;
  right: 70px;
  background-image: url("../img/login.svg");
  opacity: 0.3;
}

.button--login:focus::before,
.button--login:hover::before,
.button--login:active::before{
  opacity: 1;
}

.advantages{
  color: #f7f4f1;
  text-align: center;
  margin-bottom: 80px;
}

.advantages__list{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main-menu__logo{
  margin-left: 20px;
  display:flex;
  align-items: center;
}

.advantages__name{
  display: block;
  font-size: 30px;
  line-height: 42px;
  margin-bottom: 15px;
}

.diamond{
  width: 22px;
  height: 22px;
  background-color: #f7f4f1;
  transform: rotate(45deg);
  align-self: center;
  margin-bottom: 20px;
}

.page-content{
  color: #000000;
  background-image: url("../img/content-background.png");
  width: 960px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.news__list{
  list-style-type: none;
  padding:0;
  margin:0;
}

.news__item{
  margin-bottom: 30px;
}

.news__text{
  margin: 0;
}

.news__date{
  text-transform: none;
}

.main-footer{
  background-color: #232323;
  background-image: url("../img/footer-background.png");
  height: 193px;
}

.main-footer__maplink{
  text-decoration: underline;
}

.page-header{
  font-size: 30px;
  line-height: 42px;
}

.about__title{
  font-size: 24px;
  line-height: 30px;
  margin: 0 0 35px 0;
  padding: 0;
}

.about__list{
  margin: 0;
  padding: 0;
}

.about__item{
  position: relative;
  margin: 0 0 18px 28px;
}

.about__text{
  margin: 0;
}

.breadcrumbs{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin:0 0 50px 0;
  padding:0;
}

.breadcrumbs__link{
  color:inherit;
}

.breadcrumbs__item{
  position: relative;
  list-style-type: none;
  margin-right: 46px;
}

.breadcrumbs__item--current{
  color: #aba9a7;
}

.strong-text-wrapper{
  box-sizing: border-box;
  width: auto;
  height: 50px;
  position: relative;
  padding-top: 24px;
  margin-bottom: 70px;
}

.strong-text-hr{
  height: 2px;
  border-style: none;
  background: #000101;
}
.strong-text{
  position: absolute;
  left: 170px;
  bottom: -5px;
  display: block;
  font-size: 48px;
  line-height: 48px;
  padding-left: 26px;
  padding-right: 26px;
  background-image: url("../img/content-background.png");
}

.about__list{
  list-style-type: none;
  margin:0;
  padding:0;
}

.price__table{
  border-collapse: collapse;
  border-width: 2px;
  border-style: solid;
  border-color: #000101;
  text-align: left;
  width:100%;
}

.price__cost{
  text-align: center;
  border-width: 2px;
  border-style: solid;
  border-color: #000101;
  padding: 12px 16px;
}

.price__service{
  border-width: 2px;
  border-style: solid;
  border-color: #000101;
  width:50%;
  padding: 12px 16px;
}

.product-filter{
  width: 220px;
  margin: 10px;
}

.product-filter__legend{
  font-size: 24px;
  line-height: 30px;
}

.product-filter__list{
  list-style-type: none;
}

.catalog__list{
  width: 720px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.catalog__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 220px;
  margin: 10px;
  padding-bottom: 16px;
}

.product-photo{
  margin: 0;
}

.product-firm{
  display:block;
  text-transform: uppercase;
}

.product-photo__caption{
  width: 180px;
  margin: 16px auto;
  text-transform: none;
  line-height: 18px;
}

.product-price{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
  width: 110px;
  height: 100%;
}

.pagination{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 0;
}

.pagination__item{
  height: 43px;
  width: 43px;
  margin-right: 7px;
}

.pagination__button{
  display:flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.pagination__button--current{
  color: #000000;
  background-color: #ffffff;
}

.pagination__button--current:hover,
.pagination__button--current:focus,
.pagination__button--current:active{
  cursor: default;
  background-color: #ffffff;
  color: #000000;
}

.item-gallery{
  width: 460px;
  display: flex;
  flex-direction: column;
}

.item-gallery__list{
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description{
  margin-left: 90px;
}

.description__product-id{
  color: #aeaeae;
}

.description__strong{
  display: block;
  margin-top: 68px;
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 30px;
}

.description__list{
  list-style-type: none;
  margin:0;
  padding:0;
}

.description__item{
  position: relative;
  margin:0 0 0 28px;
}

.description__text{
  margin-top: 40px;
  margin-bottom: 40px;
}

.description__wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-menu-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-navigation-wrapper{
  background-color: #000000;
  width: 100%;
  height: 72px;
  margin-bottom: 60px;
}

.main-navigation-wrapper-row{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-menu__logo_index{
  order: 1;
  margin-bottom: 80px;
}

.content-wrapper{
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.advantages__list{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.advantages__item{
  width: 300px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

.content-wrapper-columns{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width:auto;
  background-color: #f8f5f2;
  background-image: url("../img/content-background.png");
  margin-bottom: 64px;
}

.news{
  width: 380px;
}

.gallery{
  width: 300px;
}

.contacts{
  width: 380px;
}

.order{
  width: 300px;
}

.section-header{
  font-size: 30px;
  line-height: 42px;
  margin-top:0;
  margin-bottom: 25px;
}

.main-footer-wrapper{
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  width: 960px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.about--1{
  width: 240px;
}

.about--2{
  width: 460px;
}

.about--3{
  width: 390px;
}

.about--4{
  width: 380px;
  margin-right: 80px;
}

.catalog{
  margin-right: auto;
}

.price-wrapper{
  height: 43px;
  width: 180px;
  display: flex;
  flex-direction: row;
}

.button--buy{
  margin: 0;
  padding: 0;
  width: 70px;
  height: 100%;
}

.content-wrapper-columns--index{
  margin-bottom: 36px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("../img/border_index.png");
  background-repeat: no-repeat;
  background-position: center;
}

.photo-wrapper{
  width: 286px;
  height: 178px;
  background-color: #ffffff;
  padding: 7px;
  margin-bottom: 40px;
}

.gallery__photo{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.button-wrapper{
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.order__wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.order__label{
  display: block;
  margin-left: 16px;
  margin-bottom: 12px;
}

.form-input{
  box-sizing: border-box;
  background-color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 14px;
  line-height: 24px;
  border-color: #000101;
  border-width: 2px;
  border-style: solid;
  width: 140px;
  height: 43px;
  padding-left:15px;
  margin-bottom: 16px;
}

.order__button{
  width: 100%;
}

.socials__list{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.socials__button{
  width: 43px;
  height: 43px;
  margin-top: 6px;
  margin-left: 3px;
  margin-right: 3px;
  background-color: #000000;
}

.socials__button:hover,
.socials__button:focus,
.socials__button:active{
  background-color: #ffffff;
}

.socials__button:hover path,
.socials__button:focus path,
.socials__button:active path{
  fill: #000000;
}

.socials-wrapper {
  width: 150px;
  margin-left: 104px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main-footer__copyright {
  margin-left:auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.button--copyright {
  margin-top: 6px;
}

.button--copyright:hover,
.button--copyright:focus,
.button--copyright:active{
  background-color: #ffffff;
  color:#000000;
}

.socials__link {
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}


.main-menu__link--current {
  cursor: default;
  padding-left: 0;
  padding-right: 0;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 22px;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: #ffffff;
}

.main-menu__link--current:hover,
.main-menu__link--current:focus,
.main-menu__link--current:active{
  background-color: inherit;
}

.item-marker{
  position: absolute;
  top: 8px;
  left:-26px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  transform: rotate(45deg);
  align-self: center;
  margin-bottom: 20px;
}
.product-filter__fieldset {
  border: none;
}
